* {
  font-family: 'Arimo', sans-serif;
}
body {
  padding:50px;
}

.alert {
  padding: 5px 25px;
  border-radius: 10px;
  color: white;
  margin-bottom: 30px;
}
.alert-warning {
  background: #DC3545;
}
.alert-info {
  background: #28A744;
}

.alert.hidden {
  display:none;
}

.form-section {
  margin-bottom: 10px;
}

.parsley-required, .parsley-mincheck {
  background: #ffeabd;
  color: black;
  padding: 10px 15px;
  border-radius: 10px;
  list-style-type: none;
  display: inline-block;
}

.parsley-errors-list{
  padding:0;
}

#submit-button, .button {
  border: none;
  padding: 16px 25px;
  border-radius: 5px;
  background: #007BFF;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  margin-top: 15px;
}

input, select {
  border-radius: 5px;
  border:none;
  border: 1px solid #666;
  background: #f7f7f7;
  font-size: 16px;
  padding: 6px;
}
label {
  font-size: 16px;
}

.space-bottom {
  margin-bottom:10px;
  display:inline-block;
}

/* swiper */
body {
       background: #eee;
       font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
       font-size: 14px;
       color: #000;
       margin: 0;
       padding: 0;
     }

     .swiper {
       width: 300px;
       height: 300px;
       position: absolute;
       left: 50%;
       top: 50%;
       margin-left: -150px;
       margin-top: -150px;
     }

     .swiper-slide {
       background-position: center;
       background-size: cover;
     }

     .swiper-slide img {
       display: block;
       width: 100%;
     }

/* custom slider styles */

.slide-red {
    background:red;
}
.slide-blue {
    background:blue;
}

.slide-yellow {
    background:yellow;
}
